h1 Editing operator_wallet_user_kyc_paper
== render 'form', path: operator_wallet_user_wallet_kyc_paper_path(@wallet_user.id, @wallet_kyc_paper)
= link_to 'Show', operator_wallet_user_path(@wallet_user), class: "btn btn-sm btn-primary"

