DEFAULT_FROM_MAILER: ""
DEFAULT_URL_OPTION: ""
MISKRE_MAIN_PAGE: ""
USER_MAIL_SERVER: ""
PASSWORD_MAIL_SERVER: ""
AWS_S3_BUCKET: ""
AWS_ACCESS_KEY_ID: ""
AWS_SECRET_ACCESS_KEY: ""
DB_HOST: ""
DB_USERNAME: ""
DB_PASSWORD: ""
DB_NAME: ""
SIDEKIQ_USER: ""
SIDEKIQ_PASSWD: ""
SITE_KEY: ""
SECRET_KEY: ""